@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: Poppins;

    --medium: 3vw;
    --small: 1.5vw;
    --middle: 2vw;

    --bg-odd: #47321a;
    --bg-even: #37230a;
    --add: #c8914b;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    scroll-padding-top: 4vw;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: var(--bg-even);
    padding: 4vw 0;
}

.menu-heading{
    color: white;
    font-size: var(--medium);
}

.menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.food {
    width: 30vw;
    padding: 2vw;
    transition: 0.6s;
}

.food:hover{
    transform: scale(1.2);
}

.menu-img {
    height: 15vw;
    margin-top: 3vw;
}

.img-heading {
    margin: 1vw 0;
    color: white;
    font-size: var(--small);
}

.menu-discription {
    padding: 0 1vw;
    color: white;
    font-size: var(--small);
    line-height: 2vw;
}